<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row justify-content-center">
  <div class="col-md-6 form-wrap">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      <%= f.submit "Create account", class: "btn btn-primary" %>
    <% end %>
    <h6 class="mt-2">Have an account? <%= link_to "Log in", new_user_session_path %></h6>
  </div>
</div>