<% provide(:title, 'New Article') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @article, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "New article title..." %>
      <div class="field">
        <%= f.label :Body %>
        <%= f.text_area :text, placeholder: "Write a new article..." %>
      </div>
      <%= f.submit "Create", class: "btn btn-primary" %>
      <span class="image">
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
      </span>
    <% end %>

    <script type="text/javascript">
      $("#micropost_image").bind("change", function() {
        const size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert("Maximum file size is 5MB. Please choose a smaller file.");
        $("#micropost_image").val("");
      }});
    </script>
  </div>
</div>